<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our design review site, <%= @user.name %></h1>
    <p>
      We will use this e-mail address to notify you of new or updated designs.
    </p>
    <p>
      You can use this website to comment and write your remarks on the designs we created for you. <br>
      To login to the site, and review your designs, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
