// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity{
  width:100%;
  border-bottom:1px solid black;
  padding:15px 0px 15px 0px;
  text-align: center;
  font-size: 1.5em;
}
